.navbar-container {
    background-color: black;
    display: flex;
    justify-content: right;
    position: absolute;
    float: right;
    z-index: 100;
    width: 100%;
}

.navbutton {
    padding: 1rem;
}

.navbutton:hover {
    background-color: rgb(19, 19, 19) 
}