@font-face{
    font-family: GFWKXSJT;
    src:
    url(../assets/GFWKXSJT.tff) format('truetype');
    
    font-weight: normal;
    
    font-style: normal;
    
}

.results-container {
    display: grid;
    padding-top: 2rem;
    min-width: 50%;
    padding-bottom: 2rem;
}

.result-card {
    background-color: rgb(0, 0, 0, 60%);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 10rem;
}

.translucent-box {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.results-honzi {
    font-family: GFWKXSJT;
    font-size: 10rem;
    padding: none;
    margin: none;
}

.score-container {
    display: flex;
    align-items: center;
    margin-top: 7rem;
    gap: 10vw;
}

.score-display {
    background-color: rgba(255, 255, 255, 0.15);
    border-style: none;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    transition: 0.1s;
    font-size: 2rem;
}

.retry-button {
    background-color: var(--highlight-colour);
    border-style: none;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    transition: 0.1s;
    font-size: 3rem;
    max-height: fit-content;
}

.retry-button:hover {
    background-color: rgb(182, 45, 45);
    scale: 1.1;
}

.tone-score {
    color: rgb(189, 189, 189);
}