.test-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-button {
    margin: 3rem;
    width: fit-content;
    height: fit-content;
    border: none;
    margin: 15px;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    text-size-adjust: 100%;
    background-color: var(--text-colour);
    color: var(--text-colour-secondary);
    font-size: 2rem;
    padding: 1rem 2rem;
    font-weight: bold;
}

.answer-button-correct {
    background-color: var(--correct-colour);
}


.answer-button-incorrect {
    background-color: var(--highlight-colour);
}