.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width:50%;
}

.checkbox-grid div {
    margin: 2rem;
    margin-left: 5rem;
    accent-color: var(--highlight-colour);
}

input {
    scale: 3;
}